blockquote {
	margin: 5px 10px 5px 10px;
	padding-left: 5px;
	padding-right: 5px;
	border: 0;
	/*border-left: 3px #aaa solid;*/
	border-left: #5555EE solid 0.2em;
}

div.signed-part {
	border-right: grey solid 0.1em;
}

div.signed-header {
	font-size: 75%;
	font-weight: lighter;
	text-align: center;
}

div.signed-content {
}

div.encrypted-header {
	font-size: 75%;
	font-weight: lighter;
	text-align: center;
}
